  .trickle_filter {
    float: left;
    margin-right: 10px; }
  .trickle_filter > label {
    margin-bottom: -4px;}
  .trickle_filter .form-group {
    margin-bottom: 0px;}
  .trickle_filter .btn-primary {
    color: #222222;
    background-color: #dddddd;
    border-color: #285e8e; }
  .trickle_filter .btn-primary:hover {
    color: #222222;
    background-color: #aaaaaa;
    border-color: #285e8e; }
  .trickle_filter > .btn-primary:focus {
      color: #ffffff;
      background-color: #3276b1;
      border-color: #222222; }
  .trickle_filter .btn-primary {
    color: #222222;
    background-color: #dddddd;
    border-color: #285e8e; }
  .trickle_filter .btn-primary:hover {
    color: #222222;
    background-color: #aaaaaa;
    border-color: #285e8e; }
  button {
    margin-top: 10px;
    margin-right: 25px; 
    float: left; }
  .trickle_filter_button {
    margin-top: 20px !important; }
  .trickle_filter_labels {
    margin-top: 20px; }
  .trickle_filter_content {
    z-index: 5000;
    position: absolute;
    left: 5px;
    top: 100px;
    width: 325px;
    background: #FFFFFF;
    background: white;
    border: 2px solid #5cb85c;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    margin-right: 5px;
    padding: 10px;
    border-radius: 0px 10px 0px 10px; }
  .trickle_filter .field-validation-error {
    color: red; }
  input[type="date"].trickle_filter {
    height: 22px !important;
    width: 150px !important;
    margin-right: 0px !important;
    border: 1px solid #b0b0b0;
    border-radius: 4px; }
  .trickle_daterange_filter {
    width: 320px; }
  .trickle_daterange-label {
    font-weight: normal;
    font-style: italic;
    margin-top: -4px !important;
    margin-bottom: -4px !important;}
  .trickle_filter-label {
    margin-top: 10px;
    margin-right: 20px; }
  .trickle_filter-label label {
      color: #5cb85c; }
  .trickle_chosen-choices {
    border-radius: 4px; }
  .trickle_filter_parameters > div {
    margin-right: 10px !important;}
  .trickle_filter_parameter > label {
    margin-top: -4px !important;
    margin-bottom: -4px !important;}
  .trickle_filter_list_button {
    margin-top: 5px; }
  .trickle_filter_list {
    position: relative;
    display: inline-block; }
  .trickle_filter_list > div {
    vertical-align: top;
    margin-top: 10px;}
  .trickle_filter_list_items > div {
    float: left;
    margin-right: 5px !important;
    margin-top: 0px !important;
    -webkit-border-radius: 12px 12px 12px 12px;
    border-radius: 12px 12px 12px 12px;
    background-color: #0067ac;
    color: white;
    padding: 1px 10px 1px 10px;
    cursor: pointer;
    margin-bottom: 2px; }
  